@import "header";
@import "main";

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    overflow: hidden;

    a {
        min-width: 44px;
        min-height: 44px;
        cursor: pointer;
        text-decoration: none;
    }

    button {
        min-width: 44px;
        min-height: 44px;
        cursor: pointer;
    }
}