@import "main";

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    width: 100%;

    @include large-screen {
        font-size: 150%;
    }

    a {
        min-width: 44px;
        min-height: 44px;
        cursor: pointer;
        text-decoration: none;
    }

    button,
    .btn {
        min-width: 44px;
        min-height: 44px;
        cursor: pointer;
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
    }
}