.jumbotron {
  min-height: 50vh;
  width: 100%;
  background-image: url('../public/images/jumbotron-overlay.png'),
                    linear-gradient(to bottom, transparent 70%, white),
                    radial-gradient(rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.5)),
                    url('../public/images/jumbotron.jpg');
  background-position: center ;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;

  .jumbotron__inner {
    color: white;
    text-align: center;

    h1 {
        font-family: 'Fraunces', serif;
    }

    h2 {
        font-family: 'Dancing Script', cursive;
    }
  }

}

.short-desc {
    
    
    &__inner {
        background-color: color(myred);
        margin: 20px;
        padding: 10px;
        color: white;

        img {
            width: 50%;
            min-width: 268px;
            display: block;
            margin: 0 auto;
        }

        h2 {
            font-family: 'Fraunces', serif;
            font-weight: normal;
        }

        p {
            padding-bottom: 10px;
        }
    }
}

.carousel {
    width: 100%;
    max-height: 400px;
    position: relative;

    .carousel__title {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background-image:   url('../public/images/carousel-overlay.png'),
                            linear-gradient(to top, transparent 70%, white);        background-position: top ;
        background-repeat: repeat-x;
        background-size: contain;
        text-align: center;
        font-family: 'Fraunces', serif;
        color: darken(color(myred), 10);
        z-index: 1;
    }

    .carousel__inner {
        height: 100%;
        width: 100%;
        display: grid;
        overflow: hidden;

        .carousel__item {
            height: 100%;
            width: 100%;
            position: relative;

            img {
                max-height: 400px;
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }

            .carousel__desc {
                position: absolute;
                bottom: 0;
                padding: 20px;
                width: 100%;
                
                .card {
                  margin: 0 auto;;
                  background: rgba( 255, 255, 255, 0.25 );
                  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                  backdrop-filter: blur( 10px );
                  border-radius: 1em;
                  padding: 10px;
                  max-width: 500px;
                  text-align: left;
                }
            }
        }            
    }
}