@import "jumbotron";

main {
    width: 100%;

    section {
        display: none;
        gap: 10px;

        .menus {
        padding: 10px;

            .menu-list {
                

                .menu__title {
                    text-align: center;
                }
                
                .menu__item {
                    position: relative;
                    border-bottom: 1px solid black;
                    padding: 0.5em 0;
                
                    .menu__name,
                    .menu__desc {
                        line-height: 1.5em;
                    }


                    .menu__price {
                        position: absolute;
                        top: 0.8em;
                        right: 0;
                    }
                }
            }
        }
    }
}