<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dapoer ExOr</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
    <div class="jumbotron">
        <div class="jumbotron__inner">
            <h1>Dapoer ExOr</h1>
            <h2>Extraordinary</h2>
        </div>
    </div>
    <main>
        <div class="short-desc">
            <div class="short-desc__inner">
                <img src="./images/logo-exor.png" alt="Logo">
                <h2>Short Desc</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores error, illum ut nulla veniam rem quis at dolore aspernatur nam. Ea earum harum, voluptate nulla deleniti eos numquam explicabo non.</p>
            </div>
        </div>
        <div class="carousel">
            <div class="carousel__title">
                <h2>Recommended Menu</h2>
            </div>
            <div class="carousel__inner">
            </div>
        </div>
        <section id="sect0">
            <div class="widget">
                <div class="widget-1">
                    <img src="./images/widget/widget_1.png" alt="">
                    <h3>Fresh Food</h3>
                </div>
                <div class="widget-2">
                    <img src="./images/widget/widget_2.png" alt="">
                    <h3>Fast Service</h3>
                </div>
                <div class="widget-3">
                    <img src="./images/widget/widget_3.png" alt="">
                    <h3>Delivery</h3>
                </div>
            </div>
        </section>
        <section id="sect1">
            <article class="menus">
                <div class="menu-list">
                    <div class="menu__title">
                        <h2>MENU</h2>
                    </div>
                </div>
            </article>
            <button class="order-button">
                <span>PESAN</span>
                <span id="jumlah-pesan">0 Pesanan</span>
                <span id="jumlah-harga">0K</span>
            </button>
        </section>
        <section id="sect2">
            <article class="contact">
                <div class="contact__inner">
                    <img src="./images/contact.png" alt="Contact">
                    <div class="contact__content">
                        <h3>Contact</h3>
                        <h4>Dapoer ExOr</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique iusto eaque rem dolorem tempore eveniet quibusdam deleniti? Laudantium, odio ea!</p>
                        <span><i class="material-icons">mail</i> Lorem ipsum dolor sit amet.</span>
                        <span><i class="material-icons">phone</i> Lorem ipsum dolor sit amet.</span>
                        <span><i class="material-icons">facebook</i> Lorem ipsum dolor sit amet.</span>
                    </div>
                </div>
            </article>
        </section>
    </main>
</body>
</html>