<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dapoer ExOr</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
    <header>
        <div class="header__inner">
            <img src="./images/logo-exor.png" alt="Dapoer Exor Logo" class="header__logo">
            <a class="call-to-action">
                ORDER
            </a>
        </div>
    </header>
    <main>
        <div class="jumbotron">
            <div class="jumbotron__filter">
                <img src="./images/logo-exor.png" alt="logo" class="jumbotron__filter__logo">
            </div>
            <div class="carousel">
                <div class="carousel__button__container">
                    <button class="carousel__button--left">
                        <span class="material-icons">arrow_back_ios</span>
                    </button>
                    <button class="carousel__button--right">
                        <span class="material-icons">arrow_forward_ios</span>
                    </button>
                </div>
                <div class="carousel__inner">
                </div>
            </div>
        </div>
        <section>
            <article class="menus">
                <div class="menu-list">
                    <h2 class="menu__title">FOODS</h2>
                    <div class="menu__item">
                        <div class="menu__name">Food Menu</div>
                        <div class="menu__desc">This is a menu, Lorem ipsum dolor sit amet.</div>
                        <div class="menu__price">20.000</div>
                    </div>
                    <div class="menu__item">
                        <div class="menu__name">Food Menu</div>
                        <div class="menu__desc">This is a menu, Lorem ipsum dolor sit amet.</div>
                        <div class="menu__price">20.000</div>
                    </div>
                    <div class="menu__item">
                        <div class="menu__name">Food Menu</div>
                        <div class="menu__desc">This is a menu, Lorem ipsum dolor sit amet.</div>
                        <div class="menu__price">20.000</div>
                    </div>
                    <div class="menu__item">
                        <div class="menu__name">Food Menu</div>
                        <div class="menu__desc">This is a menu, Lorem ipsum dolor sit amet.</div>
                        <div class="menu__price">20.000</div>
                    </div>
                    <div class="menu__item">
                        <div class="menu__name">Food Menu</div>
                        <div class="menu__desc">This is a menu, Lorem ipsum dolor sit amet.</div>
                        <div class="menu__price">20.000</div>
                    </div>
                    <div class="menu__item">
                        <div class="menu__name">Food Menu</div>
                        <div class="menu__desc">This is a menu, Lorem ipsum dolor sit amet.</div>
                        <div class="menu__price">20.000</div>
                    </div>
                    <div class="menu__item">
                        <div class="menu__name">Food Menu</div>
                        <div class="menu__desc">This is a menu, Lorem ipsum dolor sit amet.</div>
                        <div class="menu__price">20.000</div>
                    </div>
                    <div class="menu__item">
                        <div class="menu__name">Food Menu</div>
                        <div class="menu__desc">This is a menu, Lorem ipsum dolor sit amet.</div>
                        <div class="menu__price">20.000</div>
                    </div>
                    <div class="menu__item">
                        <div class="menu__name">Food Menu</div>
                        <div class="menu__desc">This is a menu, Lorem ipsum dolor sit amet.</div>
                        <div class="menu__price">20.000</div>
                    </div>
                    <div class="menu__item">
                        <div class="menu__name">Food Menu</div>
                        <div class="menu__desc">This is a menu, Lorem ipsum dolor sit amet.</div>
                        <div class="menu__price">20.000</div>
                    </div>
                    <div class="menu__item">
                        <div class="menu__name">Food Menu</div>
                        <div class="menu__desc">This is a menu, Lorem ipsum dolor sit amet.</div>
                        <div class="menu__price">20.000</div>
                    </div>
                </div>
            </article>
            <article class="about-us">

            </article>
        </section>
    </main>
</body>
</html>