@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
.jumbotron {
  min-height: 50vh;
  width: 100%;
  background-image: url("../public/images/jumbotron-overlay.png"), -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), to(white)), radial-gradient(rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.5)), url("../public/images/jumbotron.jpg");
  background-image: url("../public/images/jumbotron-overlay.png"), linear-gradient(to bottom, transparent 70%, white), radial-gradient(rgba(0, 0, 0, 0.1) 70%, rgba(0, 0, 0, 0.5)), url("../public/images/jumbotron.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

@media screen and (min-width: 768px) {
  .jumbotron {
    min-height: 80vh;
  }
  .jumbotron .jumbotron__inner {
    font-size: 150%;
  }
}

@media screen and (min-width: 1224px) {
  .jumbotron {
    min-height: 100vh;
  }
  .jumbotron .jumbotron__inner {
    font-size: 200%;
  }
}

.jumbotron img {
  width: 64px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.5em;
}

@media screen and (min-width: 768px) {
  .jumbotron img {
    width: 114px;
  }
}

@media screen and (min-width: 1224px) {
  .jumbotron img {
    width: 192px;
  }
}

.jumbotron .jumbotron__inner {
  color: white;
  text-align: center;
}

.jumbotron .jumbotron__inner h1 {
  font-family: 'Fraunces', serif;
}

.jumbotron .jumbotron__inner h2 {
  font-family: 'Dancing Script', cursive;
}

.top-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-flex .carousel {
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.top-flex .carousel .carousel__title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: url("../public/images/carousel-overlay.png"), -webkit-gradient(linear, left bottom, left top, color-stop(70%, transparent), to(white));
  background-image: url("../public/images/carousel-overlay.png"), linear-gradient(to top, transparent 70%, white);
  background-position: top;
  background-repeat: repeat-x;
  background-size: contain;
  text-align: center;
  font-family: 'Fraunces', serif;
  color: black;
  z-index: 1;
}

.top-flex .carousel .carousel__inner {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  overflow: hidden;
}

.top-flex .carousel .carousel__inner .carousel__item {
  height: 100%;
  width: 100%;
  position: relative;
}

.top-flex .carousel .carousel__inner .carousel__item img {
  max-height: 512px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media screen and (min-width: 1224px) {
  .top-flex .carousel .carousel__inner .carousel__item img {
    max-height: 768px;
  }
}

@media screen and (min-width: 1920px) {
  .top-flex .carousel .carousel__inner .carousel__item img {
    max-height: 992px;
  }
}

.top-flex .carousel .carousel__inner .carousel__item .carousel__desc {
  position: absolute;
  bottom: 0;
  padding: 20px;
  width: 100%;
}

.top-flex .carousel .carousel__inner .carousel__item .carousel__desc .card {
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 1em;
  padding: 10px;
  max-width: 500px;
  text-align: left;
}

main {
  width: 100%;
}

main section#sect0 .widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0;
  gap: 30px;
}

@media screen and (min-width: 1224px) {
  main section#sect0 .widget {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 50px 0;
  }
}

main section#sect0 .widget .widget-1,
main section#sect0 .widget .widget-2,
main section#sect0 .widget .widget-3 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  font-weight: normal;
}

main section#sect0 .widget img {
  max-width: 192px;
}

main section#sect0 .widget h3 {
  font-size: 2em;
  color: #d64444;
}

main section#sect1 {
  gap: 10px;
}

main section#sect1 .menus .menu-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media screen and (min-width: 1224px) {
  main section#sect1 .menus .menu-list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  main section#sect1 .menus .menu-list .menu__title {
    grid-column: span 3;
    margin-bottom: 30px;
  }
}

main section#sect1 .menus .menu-list .menu__title {
  background-image: url("../public/images/menu/menu-overlay.png"), radial-gradient(rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0.5)), url("../public/images/menu/menu-title.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

@media screen and (min-width: 1224px) {
  main section#sect1 .menus .menu-list .menu__title {
    height: 70vh;
  }
}

main section#sect1 .menus .menu-list .menu__title h2 {
  text-align: center;
  font-weight: normal;
  font-size: 2em;
  font-family: 'Fraunces', serif;
  color: white;
}

main section#sect1 .menus .menu-list .menu__item {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 95%;
  min-width: 300px;
  max-width: 840px;
  height: 128px;
  border: 0;
  margin: 0.5em 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 128px auto 20%;
      grid-template-columns: 128px auto 20%;
  grid-auto-rows: repeat(3, auto);
      grid-template-areas: 'img name price' 'img desc desc' 'img input input';
  font-family: 'Fraunces', serif;
}

@media screen and (min-width: 1920px) {
  main section#sect1 .menus .menu-list .menu__item {
    height: 154px;
    -ms-grid-columns: 154px;
        grid-template-columns: 154px;
  }
  main section#sect1 .menus .menu-list .menu__item .menu__img img {
    height: 154px;
  }
}

main section#sect1 .menus .menu-list .menu__item .menu__name,
main section#sect1 .menus .menu-list .menu__item .menu__price {
  line-height: 1.5em;
}

main section#sect1 .menus .menu-list .menu__item .menu__img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: img;
}

main section#sect1 .menus .menu-list .menu__item .menu__img img {
  height: 128px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

main section#sect1 .menus .menu-list .menu__item .menu__name {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: name;
  padding-left: 15px;
  font-size: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

main section#sect1 .menus .menu-list .menu__item .menu__price {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: price;
  font-size: 1.5em;
  padding-right: 15px;
  text-align: right;
}

main section#sect1 .menus .menu-list .menu__item .menu__desc {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: desc;
  padding-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

main section#sect1 .menus .menu-list .menu__item .input-number {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: input;
  text-align: center;
}

main section#sect1 .menus .menu-list .menu__item .input-number button {
  background-color: #d64444;
  border: 0;
  border-radius: 50%;
  color: white;
  font-size: 1.5em;
  min-height: 30px;
  min-width: 30px;
}

@media screen and (min-width: 1920px) {
  main section#sect1 .menus .menu-list .menu__item .input-number button {
    min-height: 44px;
    min-width: 44px;
  }
}

main section#sect1 .menus .menu-list .menu__item .input-number button:first-child {
  background-color: #28a119;
}

main section#sect1 .menus .menu-list .menu__item .input-number input {
  font-size: 1.5em;
  line-height: 2em;
  max-width: 80px;
  text-align: center;
  border-radius: 20px;
  border: 0;
  color: black;
}

main section#sect1 .order-button {
  display: block;
  width: 90%;
  max-width: 768px;
  background-color: #28a119;
  color: white;
  -webkit-columns: white;
          columns: white;
  padding: 0 1em;
  margin: 1em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 0;
  border-radius: 2em;
  position: -webkit-sticky;
  position: sticky;
  bottom: 10px;
  font-size: 1.2em;
  z-index: 10;
}

@media screen and (min-width: 1224px) {
  main section#sect1 .order-button {
    line-height: 2em;
  }
}

main section#sect2 .contact {
  background-color: #0f0f0f;
  width: 100%;
}

main section#sect2 .contact .contact__inner {
  position: relative;
  margin: 0 auto;
  max-width: 768px;
  padding: 20px;
}

main section#sect2 .contact .contact__inner img {
  display: block;
  margin: 0 auto;
  width: 72px;
  padding-top: 2em;
}

main section#sect2 .contact .contact__inner .contact__content {
  padding-top: 3em;
  color: white;
}

main section#sect2 .contact .contact__inner .contact__content h3 {
  font-size: 2em;
}

main section#sect2 .contact .contact__inner .contact__content h4 {
  font-size: 1.5em;
  padding-bottom: 0.5em;
}

main section#sect2 .contact .contact__inner .contact__content p {
  padding-bottom: 0.5em;
}

main section#sect2 .contact .contact__inner .contact__content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}

main section#sect2 .contact .contact__inner::before {
  content: "";
  background-image: url("../public/images/contact.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.2;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

@media screen and (min-width: 1920px) {
  body {
    font-size: 150%;
  }
}

body a {
  min-width: 44px;
  min-height: 44px;
  cursor: pointer;
  text-decoration: none;
}

body button,
body .btn {
  min-width: 44px;
  min-height: 44px;
  cursor: pointer;
}

body input[type=number]::-webkit-inner-spin-button,
body input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */